xplaincrypto-infra/
xplaincrypto-fastapi/
xplaincrypto-mindsdb/
xplaincrypto-database/
xplaincrypto-mcp/
xplaincrypto-docs/
xplaincrypto-n8n/
xplaincrypto-researcher/
mindsdb-handlers
xplaincrypto-mcp-servers/
xplaincrypto-mcp-servers/coingeko_mcp/
.cursor/
orchestrator-bridge/

*.tmp
*.log